footer {
    background: var(--gray-900);
    display: flex;
    justify-content: space-between;
    padding: 50px var(--inline);
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo svg {
    cursor: pointer;
}

.footer-logo p {
    width: 279px;
    color: var(--white); 
    opacity: 60%;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.socials *{
    color: var(--white);
    opacity: 60%;
    width: 24px;
    height: 24px;
}

.socials *:hover {
    color: #fff;
    cursor: pointer;
    opacity: 1;
}

.site-map *{
    color: var(--white);
    opacity: 60%;
    padding: 5px;
}

.site-map *:hover {
    color: #fff;
    cursor: pointer;
    opacity: 1;
}


.site-map p {
    font-size: 16px;
    font-weight: 400;
}

.site-map-h2 {
    color: var(--white);
    opacity: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
}

.courses * {
    color: var(--white);
    opacity: 60%;
    padding: 5px;
}

.courses *:hover {
    color: #fff;
    cursor: pointer;
    opacity: 1;
}


.courses p {
    font-size: 16px;
    font-weight: 400;
}

.courses-h2 {
    color: var(--white);
    opacity: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
}

.contacts * {
    color: var(--white);
    opacity: 60%;
    padding: 5px;
}

.contacts *:hover { 
    color: #fff;
    cursor: pointer;
    opacity: 1;
    /* ? */
}

.contacts-h2 {
    color: var(--white);
    opacity: 1;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.contacts-block1 {
    display: flex;
    align-items: center;
   font-size: 20px;
}

.contacts-block2 {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-up input {
    margin-top: 15px;
    height: 36px;
    background: var(--gray-800);
    border: solid 2px var(--gray-300);
    border-radius: 5px;
    padding: 10px;
    color: var(--white);
}

.sign-up-h2 {
    cursor: pointer;
    color: var(--white);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
}

.sign-up p {
    margin-top: 25px;
    width: 286px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    opacity: 60%;
}

.footer-bottom {
    padding: 25px var(--inline);
    display: flex;
    justify-content: space-between;
    background: var(--gray-800);
}

.rights {
    color: var(--white);
    opacity: 60%;
    font-weight: 400;
    font-size: 12px;
}

.rights span {
    color: #f00;
    padding: 3px;
}

.go-top {
    cursor: pointer;
    color: var(--white);
    opacity: 60%;
    font-weight: 700;
    font-size: 14px;
}

.subscribe  {
    height: 564px;
    background: var(--btn-gradient);
    position: relative;
}

.subscribe-overlay {
    padding: 270px 400px 140px 400px;
    background: #ffffffc1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}



.heading p {
    color: var(--gray-900);
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 900;
    padding-bottom: 10px;
}

.heading h2 {
    text-align: center;
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 5px;
}

.form {
    margin-bottom: 230px;
    display: flex;
    gap: 30px;
}

.form input {
    height: 52px;
    width: 422px;
    padding: 20px;
}

.form button { 
    border-radius: 4px;
    background: var(--btn-gradient);
    height: 52px;
    width: 154px;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
}

.svag1 {
 position: absolute;
 bottom: 0;
}

.svag2 {
    position: absolute;
    bottom: 0;
    right: 0;
}



@media (max-width:1024px) {
    .svag1,.svag2{
        width: 1px;
        height: 1px;
        position: absolute;
    }
    .subscribe-overlay{
        padding: 1px;
    }
    footer{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
}


@media (max-width:768px) {
    .form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1px;
        width: 100%;
    }
    .form input{
        width: 70%;
    }
    .heading>h2{
        font-size: 36px;
    }
}