@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
  border: none;
  outline: none;
  transition: all .3s ease-in;
  font-family: "Lato";
}

*::before,
*::after {
  transition: all .3s ease-in;
}


:root {
  --btn-gradient: linear-gradient(#FF3F3a, #F75E05);
  --info: #5A87FC;
  --success: #03ECA4;
  --warning: #F89828;
  --danger: #FF4242;
  --white: #fff;
  --primary: #FF3F3A;
  --secondary: #FFCF2D;
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  --inline: 12%;
}

body {
  overflow-x: hidden;
}